USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[Sp_GettransactionLimitCountByFpId]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Sp_GettransactionLimitCountByFpId]  
(  
    @FpId INT  
)  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    SELECT  
        AM.FpId,  
        --SUM(AM.MaxLimitCount + ISNULL(AM.ExtraLimits, 0)) AS MaxLimit,  
        AM.MaxLimitCount AS MaxLimit,
        SUM(AM.LimiLeftCount) AS CurrentCount,  
        FPS.Status ,
        AM.IsAllowed
    FROM AttendantMaster AM  
    LEFT JOIN FuelPumpStatusMaster FPS   
        ON AM.FpId = FPS.FpId  
    WHERE (@FpId = 0 OR AM.FpId = @FpId)  
    GROUP BY  
        AM.FpId,  
        FPS.Status,
        AM.MaxLimitCount,
        AM.IsAllowed;  
END  
GO
