USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOfflineTransactionsToSynced]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateOfflineTransactionsToSynced]
AS
BEGIN
    UPDATE PumpTransactions
    SET SyncStatus = 1
    WHERE SyncStatus = 0;
END
GO
