USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRecordByReferenceId]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetRecordByReferenceId]
    @refId NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ReferenceId, Data FROM Records WHERE ReferenceId = @refId;
END
GO
