USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertGradePrice_Bulk]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_UpsertGradePrice_Bulk]
    @GradePrices dbo.Tvp_GradePrice READONLY
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRAN;

    MERGE GradeMaster WITH (HOLDLOCK, UPDLOCK) AS TARGET
    USING @GradePrices AS SOURCE
        ON TARGET.Grade = SOURCE.Grade

    WHEN MATCHED THEN
        UPDATE SET TARGET.Price = SOURCE.Price

    WHEN NOT MATCHED THEN
        INSERT (Grade, Price)
        VALUES (SOURCE.Grade, SOURCE.Price);

    COMMIT TRAN;
END
GO
