USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateFNewLimit]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[Sp_UpdateFNewLimit]    
(    
@FpId int ,  
@NewLimit int   
)    
as    
begin     
    
update AttendantMaster Set ExtraLimits= IsNull(ExtraLimits,0)+ @NewLimit where FpId=@FpId    
end
GO
