USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_Tracker_CloseTxn]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tracker_CloseTxn]
    @FpId INT,
    @NozzleId INT,
    @TransSeqNo VARCHAR(20)
AS
BEGIN
    UPDATE PumpTxnTracker
    SET
        EndTime = GETDATE(),
        TransSeqNo = @TransSeqNo,
        IsOpen = 0
    WHERE FpId=@FpId AND NozzleId=@NozzleId AND IsOpen=1;
END
GO
