USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUnsyncedTransactions]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUnsyncedTransactions]    
    @Type NVARCHAR(50),    
    @FpId INT = NULL,    
    @NozzleId INT = NULL,    
    @CreatedDate DATETIME = NULL,    
    @ReferenceId NVARCHAR(100) = NULL    
AS    
BEGIN    
    IF @Type = 'attendant'
    BEGIN
        SELECT TOP 10    
            TransactionId AS transaction_id,    
            PumpId AS pump_id,    
            NozzleId AS nozzle_id,    
            Attendant AS attendant,    
            CAST(ProductId AS INT) AS product_id,    
            Quantity AS qty,    
            UnitPrice AS unit_price,    
            Total AS total,    
            State AS state,    
            StartTime AS start_time,    
            EndTime AS end_time,    
            OrderUuid AS order_uuid,    
            OdooOrderId As OdooOrderId,
            AddToCart AS add_to_cart
        FROM PumpTransactions    


        WHERE  
            (  
                (@Type = 'attendant' AND state = 'FCC Order')  
                OR  
                (@Type <> 'attendant' AND state IN ('FCC Order', 'Attendant Order'))  
            )  
            AND (@FpId IS NULL OR PumpId = @FpId)    
            AND (@NozzleId IS NULL OR NozzleId = @NozzleId)    
            AND (@ReferenceId IS NULL OR Attendant = @ReferenceId)    
            AND (@CreatedDate IS NULL OR CAST(StartTime AS DATE) = CAST(@CreatedDate AS DATE))
            AND AddToCart != 1
        ORDER BY Id DESC;
    END
    ELSE
    BEGIN
        SELECT    
            TransactionId AS transaction_id,    
            PumpId AS pump_id,    
            NozzleId AS nozzle_id,    
            Attendant AS attendant,    
            CAST(ProductId AS INT) AS product_id,    
            Quantity AS qty,    
            UnitPrice AS unit_price,    
            Total AS total,    
            State AS state, 
           StartTime AS start_time,    
            EndTime AS end_time,    
    --(
    --    SELECT TOP 1 CreatedAt
    --    FROM TransInSupBuffer
    --    WHERE TransSeqNo = PumpTransactions.TransSueNo
    --      AND CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE)
    --    ORDER BY Id ASC
    --) AS start_time,    

    --  (
    --    SELECT TOP 1 CreatedAt
    --    FROM TransInSupBuffer
    --    WHERE TransSeqNo = PumpTransactions.TransSueNo
    --      AND CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE)
    --    ORDER BY Id DESC
    --) AS end_time,    

  
            OrderUuid AS order_uuid,    
            OdooOrderId As OdooOrderId,
            Payment_Id  AS payment_id,
            AddToCart AS add_to_cart
        FROM PumpTransactions   
        WHERE  
            (  
                (@Type = 'attendant' AND state = 'FCC Order')  
                OR  
                (@Type <> 'attendant' AND state IN ('FCC Order', 'Attendant Order'))  
            )  
            AND (@FpId IS NULL OR PumpId = @FpId)    
            AND (@NozzleId IS NULL OR NozzleId = @NozzleId)    
            AND (@ReferenceId IS NULL OR Attendant = @ReferenceId)    
            AND (@CreatedDate IS NULL OR CAST(StartTime AS DATE) = CAST(@CreatedDate AS DATE)) 
            
            
        ORDER BY Id ASC;
    END
END
GO
