USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertAttendantPumpCount]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpsertAttendantPumpCount]  
    @FpId INT,  
    @MPITagId NVARCHAR(50),  
    @MaxLimitCount INT  
AS  
BEGIN  
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS (
            SELECT 1
            FROM AttendantMaster WITH (UPDLOCK, HOLDLOCK)
            WHERE FpId = @FpId
        )
        BEGIN
            UPDATE AttendantMaster
            SET
                MPITagId = @MPITagId,
                MaxLimitCount = @MaxLimitCount,
                LastUpdatedDate = GETDATE()
            WHERE FpId = @FpId;
        END
        ELSE
        BEGIN
            INSERT INTO AttendantMaster
            (
                MPITagId,
                MaxLimitCount,
                LimiLeftCount,
                LastUpdatedDate,
                unit_price,
                FpId
            )
            VALUES
            (
                @MPITagId,
                @MaxLimitCount,
                0,
                GETDATE(),
                0,
                @FpId
            );
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- If duplicate key error, ignore and still COMMIT
        IF ERROR_NUMBER() IN (2627, 2601)
        BEGIN
            IF @@TRANCOUNT > 0
                COMMIT TRANSACTION;
            RETURN;
        END

        -- Any other error: rollback to keep data consistent
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        RETURN; -- silently exit
    END CATCH
END;
GO
