USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEvent_FpSupTransBufStatus]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertEvent_FpSupTransBufStatus]
(
    @TransactionId      VARCHAR(50),
    @HexMessage         NVARCHAR(MAX),
    @ParsedJson         NVARCHAR(MAX),
    @Port               NVARCHAR(100),
    @EventName          NVARCHAR(100),
    @ExtCode            NVARCHAR(10),
    @SubCode            NVARCHAR(10),
    @FpId               NVARCHAR(10),
    @MasterResetKey     NVARCHAR(20),
    @NozzleId           INT,
    @TransInSupBuffer   dbo.Tvp_TransInSupBuffer READONLY,
    @AddToCart          BIT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Declare local variables
    DECLARE @EventDetailsId INT;
    DECLARE @ParentId INT;
    DECLARE @AttendantId VARCHAR(50) = JSON_VALUE(@ParsedJson, '$.attendantId');
    DECLARE @TransSeqNo VARCHAR(20);
    DECLARE @Now DATETIME = GETDATE();
    DECLARE @IsUnreconciled BIT = 0;
    DECLARE @MaxLimit INT;
    DECLARE @LastTransSeqNo VARCHAR(20);
    DECLARE @TransactionUniqueKey VARCHAR(50);

    -- Step 1: Fetch the extra limits from AttendantMaster
    SELECT @MaxLimit = ISNULL(ExtraLimits, 0)
    FROM dbo.AttendantMaster
    WHERE FpId = @FpId;

    -- Set IsUnreconciled flag based on ExtraLimits
    IF (@MaxLimit > 0)
        SET @IsUnreconciled = 1;
    ELSE
        SET @IsUnreconciled = 0;

    BEGIN TRY
        -- Start transaction
        BEGIN TRANSACTION;

        -- Step 2: Insert base event (calls another stored procedure)
        EXEC dbo.sp_InsertEventBase
            @TransactionId = @TransactionId,
            @HexMessage    = @HexMessage,
            @ParsedJson    = @ParsedJson,
            @Port          = @Port,
            @EventName     = @EventName,
            @ExtCode       = @ExtCode,
            @SubCode       = @SubCode,
            @FpId          = @FpId,
            @EventDetailsId = @EventDetailsId OUTPUT;

        -- Step 3: Insert into FpSupTransBufStatusCall (Parent)
        INSERT INTO dbo.FpSupTransBufStatusCall
            (TransactionId, EventDetailId, Port, ExtCode, SubCode, FpId)
        VALUES
            (@TransactionId, @EventDetailsId, @Port, @ExtCode, @SubCode, @FpId);

        SET @ParentId = SCOPE_IDENTITY();

        -- Step 4: Insert into TransInSupBuffer (Child)
        INSERT INTO dbo.TransInSupBuffer
            (FpSupTransBufStatusCallId, TransSeqNo, SmId, TransLockId,
             TransInfoMaskValue, TransInfoMaskBits, MoneyDue, Vol, FcGradeId, UnitPrice)
        SELECT
            @ParentId,
            TransSeqNo, SmId, TransLockId,
            TransInfoMaskValue, TransInfoMaskBits, MoneyDue, Vol, FcGradeId, ISNULL(UnitPrice, 0)
        FROM @TransInSupBuffer;

        -- Step 5: Resolve Attendant (based on AttendantMaster)
        SELECT @AttendantId = MPITagId
        FROM dbo.AttendantMaster
        WHERE FpId = @FpId;

        IF @AttendantId IS NULL
        BEGIN
            PRINT 'No Attendant mapped for this FpId. Using DEFAULT fallback value.';
            SET @AttendantId = 'UNKNOWN';
        END

        -- Step 6: Fetch the last TransSeqNo and TransactionUniqueKey for comparison
        SELECT @LastTransSeqNo = MAX(TransSueNo),
               @TransactionUniqueKey = MAX(TransactionUniqueKey)
        FROM dbo.PumpTransactions
        WHERE TransactionUniqueKey = @MasterResetKey + @FpId + @TransactionId;

        -- Step 7: Get the TransSeqNo from the buffer (latest sequence number)
        SELECT TOP (1) @TransSeqNo = TransSeqNo FROM @TransInSupBuffer;

        -- Step 8: Validate TransSeqNo based on the TransactionUniqueKey
        IF @TransactionUniqueKey = @MasterResetKey + @FpId + @TransactionId
        BEGIN
            -- Ensure the received TransSeqNo is greater than the last one
            IF (CAST(@TransSeqNo AS INT) <= CAST(@LastTransSeqNo AS INT))
            BEGIN
                PRINT 'TransSeqNo is not greater than the existing one. Not inserting.';
                ROLLBACK TRANSACTION;
                RETURN;
            END
        END

        -- Step 9: Upsert PumpTransactions (MERGE)
        MERGE dbo.PumpTransactions AS target
        USING
        (
            SELECT
                @TransactionId AS TransSueNo,
                @FpId AS PumpId,
                @NozzleId AS NozzleId,
                @AttendantId AS Attendant,
                ti.FcGradeId AS ProductId,
                ti.Vol AS Quantity,
                ISNULL
                (
                    (
                        SELECT TOP 1 Price
                        FROM GradeMaster gm
                        WHERE TRY_CAST(gm.Grade AS INT) = TRY_CAST(ti.FcGradeId AS INT)
                    ),
                    0
                ) AS UnitPrice,
                ti.MoneyDue AS Total,
                'FCC Order' AS State,
                (SELECT TOP 1 StartTime
                 FROM PumpTxnTracker
                 WHERE FpId = @FpId AND NozzleId = @NozzleId AND IsOpen = 1
                 ORDER BY StartTime DESC) AS StartTime,
                GETDATE() AS EndTime,
                NEWID() AS OrderUuid,
                0 AS SyncStatus
            FROM @TransInSupBuffer ti
        ) AS source
        ON target.TransactionUniqueKey = @MasterResetKey + @FpId + @TransactionId

        WHEN MATCHED THEN
            UPDATE SET
                target.Attendant = source.Attendant,
                target.ProductId = source.ProductId,
                target.Quantity = source.Quantity,
                target.UnitPrice = source.UnitPrice,
                target.Total = source.Total,
                target.State = source.State,
                target.StartTime = source.StartTime,
                target.SyncStatus = 1,
                target.IsUnreconciled = @IsUnreconciled,
                target.AddToCart = CASE
                                    WHEN @AddToCart IS NOT NULL
                                    THEN @AddToCart
                                    ELSE target.AddToCart
                                    END

        WHEN NOT MATCHED THEN
            INSERT ([TransactionId], [PumpId], [NozzleId], [Attendant],
                    [ProductId], [Quantity], [UnitPrice], [Total], [State],
                    [StartTime], [EndTime], [OrderUuid], [SyncStatus], [TransSueNo], [AddToCart], [IsUnreconciled], [TransactionUniqueKey])
            VALUES (@TransactionId + FORMAT(GETDATE(), 'ddMMyyHHmmssfff'), @FpId, @NozzleId, source.Attendant,
                    source.ProductId, source.Quantity, source.UnitPrice, source.Total,
                    source.State, source.StartTime, source.EndTime, NULL, 1, @TransactionId, ISNULL(@AddToCart, 0), @IsUnreconciled, @MasterResetKey + @FpId + @TransactionId);

        -- Step 10: Track the transaction end time
        EXEC dbo.sp_Tracker_CloseByTransSeqNo @FpId = @FpId, @NozzleId = @NozzleId, @TransSeqNo = @TransSeqNo;

        -- Commit transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of error
        ROLLBACK TRANSACTION;

        -- Log the error
        INSERT INTO dbo.EventInsertLog(EventName, TransactionId, ErrorMessage)
        VALUES (@EventName, @TransactionId, ERROR_MESSAGE());

        -- Rethrow the error
        THROW;
    END CATCH
END
GO
