USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPendingTransactions]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPendingTransactions]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 100 *
    FROM Transactions
    WHERE IsSynced = 0
    ORDER BY CreatedAt ASC;
END
GO
