USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrderUuid]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateOrderUuid]
    @TransactionId NVARCHAR(100),
    @OrderUuid NVARCHAR(100) = NULL,
    @OrderId INT,
    @State NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PumpTransactions
    SET
        OrderUuid   = @OrderUuid,
        OdooOrderId = @OrderId,
        State       = @State
    WHERE TransactionId = @TransactionId;
END
GO
