USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTransaction]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertTransaction]
    @TransactionId VARCHAR(50),
    @HexMessage NVARCHAR(MAX),
    @ParsedJson NVARCHAR(MAX),
    @Port NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Transactions (
        TransactionId,
        HexMessage,
        ParsedJson,
        IsSynced,
        RetryCount,
        LastAttempt,
        OdooAckId,
        Port,
        CreatedAt,
        UpdatedAt
    )
    VALUES (
        @TransactionId,
        @HexMessage,
        @ParsedJson,
        0,                -- default IsSynced = false
        0,                -- default RetryCount
        NULL,             -- no LastAttempt yet
        NULL,             -- no OdooAckId yet
        @Port,
        GETDATE(),
        GETDATE()
    );
END;
GO
