USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[Sp_GettransactionLimitCountByFpId_BK]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   Proc [dbo].[Sp_GettransactionLimitCountByFpId_BK] --1  
(  
@FpId int   
)  
as  
begin   
select   
AttendantMaster.FpId  
,MaxLimitCount MaxLimit  
,LimiLeftCount CurrentCount  
,FuelPumpStatusMaster.Status  
from AttendantMaster  
left join FuelPumpStatusMaster on AttendantMaster.FpId=FuelPumpStatusMaster.FpId  
 WHERE (@FpId = 0 OR AttendantMaster.FpId = @FpId);   
  
end
GO
