USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUnsyncedTransactionsAttendant]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[sp_GetUnsyncedTransactionsAttendant]
    @Type NVARCHAR(50),
    @FpId INT = NULL,
    @NozzleId INT = NULL,
    @CreatedDate DATETIME = NULL,
    @ReferenceId NVARCHAR(100) = NULL
AS
BEGIN
    SELECT TOP 10
    TransactionId AS transaction_id,
    PumpId AS pump_id,
    NozzleId AS nozzle_id,
    Attendant AS attendant,
     CAST(ProductId AS INT) AS product_id,

    Quantity AS qty,
    UnitPrice AS unit_price,
    Total AS total,
    State AS state,
    StartTime AS start_time,
    EndTime AS end_time,
    OrderUuid AS order_uuid,
    OdooOrderId As OdooOrderId
FROM PumpTransactions
WHERE  OrderUuid IS NULL
AND State = 'FCC Order' or State = 'Attendant Order'
        AND (@FpId IS NULL OR PumpId = @FpId)
        AND (@NozzleId IS NULL OR NozzleId = @NozzleId)
        AND (@CreatedDate IS NULL OR StartTime = @CreatedDate)
        Order by Id asc

END;



GO
