USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePumpTransactionStatus]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--update PumpTransactions Set isdiscard=0
--ALTER TABLE PumpTransactions
--ADD isdiscard BIT NULL;
create PROCEDURE [dbo].[UpdatePumpTransactionStatus]
    @TransactionId NVARCHAR(100),
    @Status NVARCHAR(100),
    @IsDiscard BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Start a transaction to ensure atomicity
        BEGIN TRANSACTION;

        -- Attempt to update the record
        UPDATE PumpTransactions
        SET 
            State = @Status,       -- Update the state with the provided status
            isdiscard = @IsDiscard -- Update the discard flag
        WHERE 
            TransactionId = @TransactionId


         UPDATE AttendantMaster                
                    SET LimiLeftCount =
                        CASE
                            WHEN LimiLeftCount - 1 < 0 THEN 0
                            ELSE LimiLeftCount - 1
                        END
                    WHERE FpId IN (
                        SELECT PumpId
                        FROM PumpTransactions
                        WHERE TransactionId = @transactionId and isdiscard=1

                    );
        -- If no rows were updated (because RowVersion didn't match), do nothing
        IF @@ROWCOUNT = 0
        BEGIN
            -- No update was performed, just proceed (skip the update)
            -- This allows concurrent sessions to work without throwing an error
            -- You can log this situation if desired, but it's optional
            PRINT 'No update was made: Row has been modified by another session.';
        END

        -- Commit the transaction if everything is fine
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback the transaction in case of any error
        ROLLBACK TRANSACTION;
        
        -- Log the error or handle as needed without throwing it
        PRINT 'An error occurred: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
