USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllFpSupTransBufStatus]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllFpSupTransBufStatus]
AS
BEGIN
    SET NOCOUNT ON;

    -- 1️⃣ Get main records
    SELECT 
        Id AS FpSupTransBufStatusCallId,
        TransactionId,
        EventDetailId,
        Port,
        ExtCode,
        SubCode,
        FpId,
        CreatedAt
    FROM FpSupTransBufStatusCall
    ORDER BY CreatedAt DESC;

    -- 2️⃣ Get related child records
    SELECT 
        FpSupTransBufStatusCallId,
        TransSeqNo,
        SmId,
        TransLockId,
        TransInfoMaskValue,
        TransInfoMaskBits,
        MoneyDue,
        Vol,
        FcGradeId,
        CreatedAt
    FROM TransInSupBuffer;
END;

GO
