USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUnsyncedLatestTransactions]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetUnsyncedLatestTransactions]
    @Type NVARCHAR(50),
    @FpId INT = NULL,
    @NozzleId INT = NULL,
    @Emp NVARCHAR(100) = NULL,
    @CreatedDate DATETIME = NULL,
    @ReferenceId NVARCHAR(100) = NULL
AS
BEGIN
    SELECT top 10
    TransactionId AS transaction_id,
    PumpId AS pump_id,
    NozzleId AS nozzle_id,
    Attendant AS attendant,
    ProductId AS product_id,
    Quantity AS qty,
    UnitPrice AS unit_price,
    Total AS total,
    State AS state,
    StartTime AS start_time,
    EndTime AS end_time,
    OrderUuid AS order_uuid,
    OdooOrderId As OdooOrderId
FROM PumpTransactions
WHERE  OrderUuid IS NULL
AND State = 'FCC Order'
        AND (@FpId IS NULL OR PumpId = @FpId)
        AND (@NozzleId IS NULL OR NozzleId = @NozzleId)
         AND (@Emp IS NULL OR Attendant = @Emp)     -- NEW FILTER
        AND (@CreatedDate IS NULL OR StartTime = @CreatedDate)
        Order by Id desc
   
--SyncStatus = 0
 --OrderUuid IS NULL and state='FCC Order'  order by id desc
    --AND (@FpId IS NULL OR PumpId = @FpId)
    --AND (@NozzleId IS NULL OR NozzleId = @NozzleId)
    --AND (@CreatedDate IS NULL OR StartTime = @CreatedDate)
    --AND (@ReferenceId IS NULL OR @ReferenceId = '' 
    --       OR REPLACE(REPLACE(REPLACE(REPLACE(Attendant, CHAR(13), ''), CHAR(10), ''), CHAR(9), ''), ' ', '') 
    --          = REPLACE(@ReferenceId, ' ', ''))
    --ORDER BY StartTime DESC;
END;

GO
