USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTransactionSyncStatus]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_UpdateTransactionSyncStatus]
    @TransactionId VARCHAR(50),
    @IsSynced BIT,
    @RetryCount INT,
    @LastAttempt DATETIME,
    @OdooAckId VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Transactions
    SET IsSynced = @IsSynced,
        RetryCount = @RetryCount,
        LastAttempt = @LastAttempt,
        OdooAckId = @OdooAckId,
        UpdatedAt = GETDATE()
    WHERE TransactionId = @TransactionId;
END
GO
