USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTransactions]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_GetAllTransactions]  
    
AS  
BEGIN  
    SET NOCOUNT ON;

    --SELECT  
    --    t.Id,
    --    t.TransactionId,
    --    t.ReferenceId,
    --    t.HexMessage,
    --    t.ParsedJson,
    --    t.Port,
    --    t.IsSynced,
    --    t.RetryCount,
    --    t.LastAttempt,
    --    t.OdooAckId,
    --    t.CreatedAt,
    --    t.UpdatedAt,

    --    -- EventDetails
    --    d.Id AS EventDetailId,
    --    d.Classification,
    --    d.SubCode,
    --    d.FpId,
    --    d.State,
    --    d.Vol,
    --    d.Money,
    --    d.PaymentType,
    --    d.TotalVol,
    --    d.TotalMoney,
    --    d.TerminalId,
    --    d.Version,
    --    d.NotesAccepted,
    --    d.DispenserId,
    --    d.Model,
    --    d.FcId,
    --    d.NewPrice,
    --    d.CreatedAt AS EventCreatedAt,
    --    d.UpdatedAt AS EventUpdatedAt
    --FROM Transactions t
    --LEFT JOIN EventDetails d 
    --    ON t.TransactionId = d.TransactionId
   -- WHERE t.ReferenceId = @refId;
END
GO
