USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAddToCart]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateAddToCart]
(
    @TransactionId NVARCHAR(50),
    @AddToCart BIT,
    @PaymentId NVARCHAR(50) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.PumpTransactions
    SET
        AddToCart = @AddToCart,
        Payment_Id = COALESCE(@PaymentId, Payment_Id)
    WHERE TransactionId = @TransactionId;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
