USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertPumpActionHistory]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_InsertPumpActionHistory]
(
    @FpId INT,
    @ActionType VARCHAR(20),
    @Source VARCHAR(50),
    @Note VARCHAR(255)
)
AS
BEGIN
    INSERT INTO PumpBlockUnblockHistory (FpId, ActionType, Source, Note, CreatedAt)
    VALUES (@FpId, @ActionType, @Source, @Note, GETDATE());
END
GO
