USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateIsAllowedByFpId]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateIsAllowedByFpId]
(
    @FpId INT,
    @IsAllowed BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE AttendantMaster
    SET IsAllowed = @IsAllowed
    WHERE FpId = @FpId;
END

GO
