USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOfflineTransactionsForSync]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetOfflineTransactionsForSync]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM PumpTransactions
    WHERE SyncStatus = 0
    ORDER BY Id ASC;
END
GO
