USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTransactionByReferenceId]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTransactionByReferenceId]
    @refId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Transaction + Event + FpStatusCall + FpTotalsCall
    SELECT     
        d.Id AS EventDetailId,
        d.EventName,
        d.ExtCode,
        d.SubCode,
        d.FpId,
        d.CreatedAt AS EventCreatedAt,
        --d.UpdatedAt AS EventUpdatedAt,

        s.Id AS FpStatusCallId,
        s.SmId,
        s.FpMainStateValue,
        s.FpMainStateName,
        s.FpSubStates,
        s.FpLockId,
        s.FcGradeId,
        s.FpSubStates2,
        s.FpGradeOptionNo,
        s.FuellingDataVol_e,
        s.FuellingDataMon_e,
        s.AttendantAccountId,
        s.FpBlockingStatus,
        s.FpOperationModeNo,
        s.PgId,
        s.NozzleTagReaderId,
        s.FpSubStates3,
        s.FpAlarmStatus,
        s.FpSubStates4,
        s.CreatedAt AS FpStatusCreatedAt

        --tot.TotalVol,
        --tot.TotalMoney,
        --tot.CreatedAt AS FpTotalsCreatedAt
    FROM  EventDetails d
    LEFT JOIN FpStatusCall s ON d.Id = s.EventDetailId
    --LEFT JOIN FpTotalsCall tot ON t.TransactionId = tot.TransactionId
    WHERE d.ReferenceId = @refId;

    -- 2. FpAvailableSms
    SELECT SmsId, SmId, FpStatusCallId
    FROM FpAvailableSms
    WHERE FpStatusCallId IN (SELECT Id FROM FpStatusCall WHERE  EventDetailId IN (SELECT id FROM EventDetails WHERE ReferenceId = @refId));

    -- 3. FpAvailableGrades
    SELECT Count, GradeId, FpStatusCallId
    FROM FpAvailableGrades
    WHERE FpStatusCallId IN (SELECT Id FROM FpStatusCall WHERE  EventDetailId IN (SELECT id FROM EventDetails WHERE ReferenceId = @refId));

    -- 4. FpNozzleId
    SELECT NozzleId, AsciiCode, AsciiChar, FpStatusCallId
    FROM FpNozzleId
    WHERE FpStatusCallId IN (SELECT Id FROM FpStatusCall WHERE  EventDetailId IN (SELECT id FROM EventDetails WHERE ReferenceId = @refId));

    -- 5. FpMinPresetValues
    SELECT FcGradeId, MinMoneyPreset_e, MinVolPreset_e, FpStatusCallId
    FROM FpMinPresetValues
    WHERE FpStatusCallId IN (SELECT Id FROM FpStatusCall WHERE  EventDetailId IN (SELECT id FROM EventDetails WHERE ReferenceId = @refId));
END
GO
