USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertLog]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_InsertLog]
    @role VARCHAR(50),
    @referenceId VARCHAR(50) = NULL,
    @message NVARCHAR(MAX),
    @logLevel VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Logs (Role, ReferenceId, Message, LogLevel, CreatedAt)
    VALUES (@role, @referenceId, @message, @logLevel, GETDATE());
END
GO
