USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEvent]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertEvent]    
    -- Common (Transactions)    
    @TransactionId        VARCHAR(50),    
    @HexMessage           NVARCHAR(MAX),    
    @ParsedJson           NVARCHAR(MAX),    
    @Port                 NVARCHAR(100),    
  
    -- Common (EventDetails)    
    @EventName            NVARCHAR(100),    
    @ExtCode              NVARCHAR(10),    
    @SubCode              NVARCHAR(10),    
    @FpId                 NVARCHAR(10),    
  
    -------------------------------------------------------------------  
    -- Fields for FpStatusCall (used only if @EventName = 'FpStatus_resp')    
    -------------------------------------------------------------------  
    @SmId                 NVARCHAR(10) = NULL,    
    @FpMainStateValue     NVARCHAR(10) = NULL,    
    @FpMainStateName      NVARCHAR(100) = NULL,    
    @FpSubStates          NVARCHAR(10) = NULL,    
    @FpLockId             NVARCHAR(10) = NULL,    
    @FcGradeId            NVARCHAR(10) = NULL,    
    @FpSubStates2         NVARCHAR(10) = NULL,    
    @FpGradeOptionNo      NVARCHAR(10) = NULL,    
    @FuellingDataVol_e    NVARCHAR(50) = NULL,    
    @FuellingDataMon_e    NVARCHAR(50) = NULL,    
    @AttendantAccountId   NVARCHAR(50) = NULL,    
    @FpBlockingStatus     NVARCHAR(10) = NULL,    
    @FpOperationModeNo    NVARCHAR(10) = NULL,    
    @PgId                 NVARCHAR(10) = NULL,    
    @NozzleTagReaderId    NVARCHAR(10) = NULL,    
    @FpSubStates3         NVARCHAR(10) = NULL,    
    @FpAlarmStatus        NVARCHAR(10) = NULL,    
    @FpSubStates4         NVARCHAR(10) = NULL,    
  
    -- Child collections for FpStatus (TVPs)    
    @AvailableSms         dbo.Tvp_FpAvailableSms READONLY,    
    @AvailableGrades      dbo.Tvp_FpAvailableGrades READONLY,    
    @NozzleIds            dbo.Tvp_FpNozzleId READONLY,    
    @MinPresetValues      dbo.Tvp_FpMinPresetValues READONLY,    
  
    -------------------------------------------------------------------  
    -- Fields for FpTotalsCall (used only if @EventName = 'FpTotals_resp')    
    -------------------------------------------------------------------  
    @TotalVol             NVARCHAR(50) = NULL,    
    @TotalMoney           NVARCHAR(50) = NULL    
AS    
BEGIN    
    SET NOCOUNT ON;    
  
    DECLARE @MessageLogId INT,    
            @EventDetailsId INT,    
            @DetailId INT;    
  
    --------------------------------------------------    
    ---- 1. Insert into Transactions (always)    
    --------------------------------------------------    
    --INSERT INTO [dbo].[Transactions]    
    --    (TransactionId, HexMessage, ParsedJson, Port, CreatedAt, UpdatedAt)    
    --VALUES    
    --    (@TransactionId, @HexMessage, @ParsedJson, @Port, GETDATE(), GETDATE());    
  
    --SET @MessageLogId = SCOPE_IDENTITY();    
  
  Update Transactions Set ParsedJson=@ParsedJson where TransactionId=@TransactionId
    ------------------------------------------------    
    -- 2. Insert into EventDetails (always)    
    ------------------------------------------------    
    INSERT INTO [dbo].[EventDetails]    
        (TransactionId, EventName, Port, ExtCode, SubCode, FpId, CreatedAt)    
    VALUES    
        (@TransactionId, @EventName, @Port, @ExtCode, @SubCode, @FpId, GETDATE());    
  
    SET @EventDetailsId = SCOPE_IDENTITY();    
  
    ------------------------------------------------    
    -- 3. Conditional Inserts    
    ------------------------------------------------    
    IF (@EventName = 'FpStatus_resp')    
    BEGIN    
        INSERT INTO [dbo].[FpStatusCall]    
            (TransactionId,EventDetailId,Port, ExtCode, SubCode,    
             FpId, SmId, FpMainStateValue, FpMainStateName,    
             FpSubStates, FpLockId, FcGradeId,    
             FpSubStates2, FpGradeOptionNo, FuellingDataVol_e, FuellingDataMon_e,    
             AttendantAccountId, FpBlockingStatus, FpOperationModeNo, PgId,    
             NozzleTagReaderId, FpSubStates3, FpAlarmStatus, FpSubStates4,    
             CreatedAt)    
        VALUES    
            (@TransactionId,@EventDetailsId,@Port, @ExtCode, @SubCode,    
             @FpId, @SmId, @FpMainStateValue, @FpMainStateName,    
             @FpSubStates, @FpLockId, @FcGradeId,    
             @FpSubStates2, @FpGradeOptionNo, @FuellingDataVol_e, @FuellingDataMon_e,    
             @AttendantAccountId, @FpBlockingStatus, @FpOperationModeNo, @PgId,    
             @NozzleTagReaderId, @FpSubStates3, @FpAlarmStatus, @FpSubStates4,    
             GETDATE());    
  
        SET @DetailId = SCOPE_IDENTITY();    
  
        -- Insert child collections    
        INSERT INTO [dbo].[FpAvailableSms] (FpStatusCallId, SmsId, SmId)    
        SELECT @DetailId, SmsId, SmId FROM @AvailableSms;    
  
        INSERT INTO [dbo].[FpAvailableGrades] (FpStatusCallId, Count, GradeId)    
        SELECT @DetailId, Count, GradeId FROM @AvailableGrades;    
  
        INSERT INTO [dbo].[FpNozzleId] (FpStatusCallId, NozzleId, AsciiCode, AsciiChar)    
        SELECT @DetailId, NozzleId, AsciiCode, AsciiChar FROM @NozzleIds;    
  
        INSERT INTO [dbo].[FpMinPresetValues] (FpStatusCallId, FcGradeId, MinMoneyPreset_e, MinVolPreset_e)    
        SELECT @DetailId, FcGradeId, MinMoneyPreset_e, MinVolPreset_e FROM @MinPresetValues;    
    END    
  
    -- Add other event types (FpTransactionCompleted, FpFuellingData, etc.) similarly    
END    
GO
