USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkTransactionsSynced]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[sp_MarkTransactionsSynced]
    @IdList NVARCHAR(MAX)   -- comma-separated Ids
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PumpTransactions
    SET SyncStatus = 1
    WHERE Id IN (
        SELECT TRY_CAST(value AS INT)
        FROM STRING_SPLIT(@IdList, ',')
        WHERE TRY_CAST(value AS INT) IS NOT NULL
    );
END
GO
