USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRecords]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllRecords]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ReferenceId, Data FROM Records;
END
GO
