USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePaymentId]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[sp_UpdatePaymentId]
    @TransactionId NVARCHAR(100),
    @PaymentId NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PumpTransactions
    SET Payment_Id = @PaymentId
    WHERE TransactionId = @TransactionId;
END
GO
