USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEvent_FpStatus]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertEvent_FpStatus]
(
    @TransactionId      VARCHAR(50),
    @HexMessage         NVARCHAR(MAX),
    @ParsedJson         NVARCHAR(MAX),
    @Port               NVARCHAR(100),
    @EventName          NVARCHAR(100),
    @ExtCode            NVARCHAR(10),
    @SubCode            NVARCHAR(10),
    @FpId               NVARCHAR(10),
    
    -- FpStatus specific
    @SmId               NVARCHAR(10) = NULL,
    @FpMainStateValue   NVARCHAR(10) = NULL,
    @FpMainStateName    NVARCHAR(100) = NULL,
    @FpSubStates        NVARCHAR(10) = NULL,
    @FpLockId           NVARCHAR(10) = NULL,
    @FcGradeId          NVARCHAR(10) = NULL,
    @FpSubStates2       NVARCHAR(10) = NULL,
    @FpGradeOptionNo    NVARCHAR(10) = NULL,
    @FuellingDataVol_e  NVARCHAR(50) = NULL,
    @FuellingDataMon_e  NVARCHAR(50) = NULL,
    @AttendantAccountId NVARCHAR(50) = NULL,
    @FpBlockingStatus   NVARCHAR(10) = NULL,
    @FpOperationModeNo  NVARCHAR(10) = NULL,
    @PgId               NVARCHAR(10) = NULL,
    @NozzleTagReaderId  NVARCHAR(10) = NULL,
    @FpSubStates3       NVARCHAR(10) = NULL,
    @FpAlarmStatus      NVARCHAR(10) = NULL,
    @FpSubStates4       NVARCHAR(10) = NULL,

    -- TVPs
    @AvailableSms       dbo.Tvp_FpAvailableSms READONLY,
    @AvailableGrades    dbo.Tvp_FpAvailableGrades READONLY,
    @NozzleIds          dbo.Tvp_FpNozzleId READONLY,
    @MinPresetValues    dbo.Tvp_FpMinPresetValues READONLY
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @EventDetailsId INT;
    DECLARE @DetailId INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Call common SP to insert/update Transaction + EventDetails
        EXEC dbo.sp_InsertEventBase
            @TransactionId=@TransactionId,
            @HexMessage=@HexMessage,
            @ParsedJson=@ParsedJson,
            @Port=@Port,
            @EventName=@EventName,
            @ExtCode=@ExtCode,
            @SubCode=@SubCode,
            @FpId=@FpId,
            @EventDetailsId=@EventDetailsId OUTPUT;

        -- Insert into FpStatusCall
        INSERT INTO dbo.FpStatusCall
        (
            TransactionId, EventDetailId, Port, ExtCode, SubCode,
            FpId, SmId, FpMainStateValue, FpMainStateName,
            FpSubStates, FpLockId, FcGradeId,
            FpSubStates2, FpGradeOptionNo, FuellingDataVol_e, FuellingDataMon_e,
            AttendantAccountId, FpBlockingStatus, FpOperationModeNo, PgId,
            NozzleTagReaderId, FpSubStates3, FpAlarmStatus, FpSubStates4,
            CreatedAt
        )
        VALUES
        (
            @TransactionId, @EventDetailsId, @Port, @ExtCode, @SubCode,
            @FpId, @SmId, @FpMainStateValue, @FpMainStateName,
            @FpSubStates, @FpLockId, @FcGradeId,
            @FpSubStates2, @FpGradeOptionNo, @FuellingDataVol_e, @FuellingDataMon_e,
            @AttendantAccountId, @FpBlockingStatus, @FpOperationModeNo, @PgId,
            @NozzleTagReaderId, @FpSubStates3, @FpAlarmStatus, @FpSubStates4,
            GETDATE()
        );

        SET @DetailId = SCOPE_IDENTITY();

        -- Insert child TVP data
        INSERT INTO dbo.FpAvailableSms (FpStatusCallId, SmsId, SmId)
        SELECT @DetailId, SmsId, SmId FROM @AvailableSms;

        INSERT INTO dbo.FpAvailableGrades (FpStatusCallId, Count, GradeId)
        SELECT @DetailId, Count, GradeId FROM @AvailableGrades;

        INSERT INTO dbo.FpNozzleId (FpStatusCallId, NozzleId, AsciiCode, AsciiChar)
        SELECT @DetailId, NozzleId, AsciiCode, AsciiChar FROM @NozzleIds;

        INSERT INTO dbo.FpMinPresetValues (FpStatusCallId, FcGradeId, MinMoneyPreset_e, MinVolPreset_e)
        SELECT @DetailId, FcGradeId, MinMoneyPreset_e, MinVolPreset_e FROM @MinPresetValues;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        INSERT INTO dbo.EventInsertLog(EventName, TransactionId, ErrorMessage)
        VALUES (@EventName, @TransactionId, ERROR_MESSAGE());

        THROW;
    END CATCH
END
GO
