USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPumpTransactions]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetAllPumpTransactions]
AS
BEGIN
    SELECT 
        TransactionId AS transaction_id,
        PumpId AS pump_id,
        NozzleId AS nozzle_id,
        Attendant AS attendant,
        CAST(ProductId AS INT) AS product_id,
        Quantity AS qty,
        UnitPrice AS unit_price,
        Total AS total,
        State AS state,
        StartTime AS start_time,
        EndTime AS end_time,
        OrderUuid AS order_uuid,
        OdooOrderId AS OdooOrderId
    FROM PumpTransactions
    ORDER BY StartTime DESC;
END
GO
