USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEventBase]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertEventBase]
(
    @TransactionId  VARCHAR(50),
    @HexMessage     NVARCHAR(MAX),
    @ParsedJson     NVARCHAR(MAX),
    @Port           NVARCHAR(100),
    @EventName      NVARCHAR(100),
    @ExtCode        NVARCHAR(10),
    @SubCode        NVARCHAR(10),
    @FpId           NVARCHAR(10),
    @EventDetailsId INT OUTPUT  -- output parameter
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF EXISTS (SELECT 1 FROM dbo.Transactions WHERE TransactionId = @TransactionId)
        BEGIN
            UPDATE dbo.Transactions
            SET ParsedJson = @ParsedJson,
                UpdatedAt = GETDATE()
            WHERE TransactionId = @TransactionId;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.Transactions (TransactionId, HexMessage, ParsedJson, Port, CreatedAt, UpdatedAt)
            VALUES (@TransactionId, @HexMessage, @ParsedJson, @Port, GETDATE(), GETDATE());
        END

        INSERT INTO dbo.EventDetails (TransactionId, EventName, Port, ExtCode, SubCode, FpId, CreatedAt)
        VALUES (@TransactionId, @EventName, @Port, @ExtCode, @SubCode, @FpId, GETDATE());

        SET @EventDetailsId = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        INSERT INTO dbo.EventInsertLog(EventName, TransactionId, ErrorMessage)
        VALUES (@EventName, @TransactionId, ERROR_MESSAGE());

        THROW;
    END CATCH
END
GO
