USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_Tracker_CloseByTransSeqNo]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tracker_CloseByTransSeqNo]
    @FpId INT,
    @NozzleId INT,
    @TransSeqNo INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartTime DATETIME,
            @EndTime   DATETIME,
            @TrackerId INT;

    ------------------------------------------------------------------
    -- Step 1: Pick EXACT tracker row (latest open)
    ------------------------------------------------------------------
    SELECT TOP 1
        @TrackerId = Id,
        @StartTime = StartTime
    FROM PumpTxnTracker WHERE FpId = @FpId AND NozzleId = @NozzleId AND IsOpen = 1
    ORDER BY StartTime DESC;

    IF @TrackerId IS NULL
        RETURN;

    ------------------------------------------------------------------
    -- Step 2: Close tracker
    ------------------------------------------------------------------
    SET @EndTime = GETDATE();

    UPDATE PumpTxnTracker  SET  EndTime = @EndTime,TransSeqNo = @TransSeqNo,IsOpen = 0
    WHERE Id = @TrackerId;

    ------------------------------------------------------------------
    -- Step 3: Update PumpTransactions (NO DATE FILTER!)
    ------------------------------------------------------------------
    --UPDATE PumpTransactions
    --SET
    --    StartTime = @StartTime
    --    --EndTime = @EndTime
    --WHERE TransSueNo = @TransSeqNo
    --  AND PumpId     = @FpId
    --  AND NozzleId   = @NozzleId;

END

GO
