USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePumpTransactionDynamic]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdatePumpTransactionDynamic]
(
    @TransactionId NVARCHAR(100),
    @SetClause NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX);

    SET @sql = '
        UPDATE PumpTransactions
        SET ' + @SetClause + '
        WHERE TransactionId = @TransactionId';

    EXEC sp_executesql 
        @sql,
        N'@TransactionId NVARCHAR(100)',
        @TransactionId;
END
GO
