USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertAttendantPumpCount_Bk]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
create     PROCEDURE [dbo].[sp_UpsertAttendantPumpCount_Bk]    
    @FpId INT,    
    @MPITagId NVARCHAR(50),    
    @MaxLimitCount INT    
AS    
BEGIN    
    SET NOCOUNT ON;    
    
    IF EXISTS (SELECT 1 FROM AttendantMaster WHERE FpId = @FpId)    
    BEGIN    
        UPDATE AttendantMaster    
        SET    
            MPITagId = @MPITagId,    
            MaxLimitCount = @MaxLimitCount    
        WHERE FpId = @FpId;    
    END    
    ELSE    
    BEGIN    
        INSERT INTO AttendantMaster    
        (    
            MPITagId,    
            MaxLimitCount,    
            LimiLeftCount,    
            LastUpdatedDate,    
            unit_price,    
            FpId    
        )    
        VALUES    
        (    
            @MPITagId,    
            @MaxLimitCount,    
            0,    
            GETDATE(),    
            0,    
            @FpId    
        );    
    END    
END 
GO
