USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllFpStatusWithEvents]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllFpStatusWithEvents]
    @FpId INT = NULL,
    @NozzleId INT = NULL,
    @CreatedDate DATE = NULL,
	@ReferenceId NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. FpStatusCall with filters
    SELECT
        s.Id AS FpStatusCallId,
        s.FpId,
        s.SmId,
        s.FpMainStateValue,
        s.FpMainStateName,
        s.FpSubStates,
        s.FpLockId,
        s.FcGradeId,
        s.FpSubStates2,
        s.FpGradeOptionNo,
        s.FuellingDataVol_e,
        s.FuellingDataMon_e,
        s.AttendantAccountId,
        s.FpBlockingStatus,
        s.FpOperationModeNo,
        s.PgId,
        s.NozzleTagReaderId,
        s.FpSubStates3,
        s.FpAlarmStatus,
        s.FpSubStates4,
        e.ReferenceId,
        n.NozzleId,
        n.AsciiCode,
        n.AsciiChar,
		e.ReferenceId
    FROM FpStatusCall s
    LEFT JOIN EventDetails e ON s.EventDetailId = e.Id
    LEFT JOIN FpNozzleId n ON n.FpStatusCallId = s.Id
    WHERE (@FpId IS NULL OR s.FpId = @FpId)
      AND (@NozzleId IS NULL OR n.NozzleId = @NozzleId)
      AND (@CreatedDate IS NULL OR CAST(s.CreatedAt AS DATE) = @CreatedDate)
	  AND (@ReferenceId IS NULL OR e.ReferenceId = @ReferenceId)
    ORDER BY s.CreatedAt DESC;

	-- 2. FpAvailableSms
    SELECT SmsId, SmId, FpStatusCallId
    FROM FpAvailableSms
    WHERE FpStatusCallId IN (SELECT Id FROM FpStatusCall);

    -- 3. FpAvailableGrades
    SELECT Count, GradeId, FpStatusCallId
    FROM FpAvailableGrades
    WHERE FpStatusCallId IN (SELECT Id FROM FpStatusCall);

    -- 4. FpMinPresetValues
    SELECT FcGradeId, MinMoneyPreset_e, MinVolPreset_e, FpStatusCallId
    FROM FpMinPresetValues
    WHERE FpStatusCallId IN (SELECT Id FROM FpStatusCall);
END

--IF OBJECT_ID('sp_GetAllFpStatusWithEvents', 'P') IS NOT NULL
--    DROP PROCEDURE sp_GetAllFpStatusWithEvents;
--GO

--EXEC dbo.sp_GetAllFpStatusWithEvents
--    @FpId = 1,
--    @NozzleId = NULL,
--    @CreatedDate = '2025-10-08';

--select * from FpAvailableSms
GO
