USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateFuelPumbStatusByFpId]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
 CREATE PROC [dbo].[Sp_UpdateFuelPumbStatusByFpId]    -- Sp_UpdateFuelPumbStatusByFpId 2,1,334.00,10020.00,'Idle'     
(                                                                                                                                                                                        
    @FpId INT,        
    @Nozzle INT,        
    @Vol DECIMAL(10,2),        
    @Money DECIMAL(10,2),        
    @Status NVARCHAR(100),      
    @attendantId  Nvarchar(255)='0',      
    @FpGradeOptionNo int=0 ,  
  @IsOnline BIT = 0  
)        
AS        
BEGIN        
    IF EXISTS (SELECT 1 FROM FuelPumpStatusMaster WHERE FpId = @FpId )        
    BEGIN        
        UPDATE FuelPumpStatusMaster        
        SET         
            Nozzle =case when @Nozzle=0 OR @Nozzle is null then Nozzle else @Nozzle END,        
            Vol = CASE       
     --WHEN @Status = 'Fuelling' THEN 0  
                    WHEN @Vol = 0 OR @Vol IS NULL THEN Vol        
                    ELSE @Vol        
                  END,      
      
            -- Update Money only if Money is 0 or NULL or empty      
            Money = CASE    
     --WHEN @Status = 'Fuelling' THEN 0   
                    WHEN @Money = 0 OR @Money IS NULL THEN Money        
                    ELSE @Money        
                   END,       
                   FpGradeOptionNo= CASE      
                   WHEN @FpGradeOptionNo=0 or @FpGradeOptionNo is null then FpGradeOptionNo else @FpGradeOptionNo END,      
            Status = @Status,      
            attendantId='0',      
            LastModifiedDate=GetDate()  ,    
            --unit_price = CASE   
            --                WHEN @Vol = 0 OR @Vol IS NULL THEN unit_price -- Avoid division by 0 or NULL    
            --                ELSE (SELECT TOP 1 Price FROM GradeMaster gm WHERE TRY_CAST(gm.Grade AS INT) = TRY_CAST(@FpGradeOptionNo AS INT))    
            --              END  ,  
        unit_price =  
    COALESCE(  
     NULLIF(  
      (  
       SELECT TOP 1 TRY_CAST(gm.Price AS DECIMAL(10,2))  
       FROM GradeMaster gm  
       WHERE TRY_CAST(gm.Grade AS INT) = TRY_CAST(@FpGradeOptionNo AS INT)  
      ), 0  
     ),  
     unit_price  
    ),  
   --unit_price = ISNULL((SELECT TOP 1 Price FROM GradeMaster gm WHERE TRY_CAST(gm.Grade AS INT) = TRY_CAST(@FpGradeOptionNo AS INT)),0),  
   IsOnline = @IsOnline   
        WHERE FpId = @FpId --and Nozzle=@Nozzle;        
    END        
    ELSE        
    BEGIN        
        INSERT INTO FuelPumpStatusMaster (FpId, Nozzle, Vol, Money, Status,attendantId,LastModifiedDate,FpGradeOptionNo,unit_price,IsOnline)        
        VALUES (@FpId, @Nozzle, @Vol, @Money, @Status,'0',GETDATE(),@FpGradeOptionNo,CASE     
                WHEN @Vol = 0 OR @Vol IS NULL THEN NULL -- Avoid division by 0 or NULL    
                ELSE @Money / @Vol    
            END,@IsOnline);        
    END      
IF (@Status IN ('Fuelling'))  -- Starting
BEGIN  
    IF NOT EXISTS  
    (  
        SELECT 1 FROM PumpTxnTracker  
        WHERE FpId = @FpId  
          AND NozzleId = @Nozzle  
          AND TxnDate = CAST(GETDATE() AS DATE)  
          AND IsOpen = 1  
    )  
    BEGIN  
        INSERT INTO PumpTxnTracker  
        (  
            FpId, NozzleId, TxnDate,  
            StartTime, IsOpen  
        )  
        VALUES  
        (  
            @FpId,  
            @Nozzle,  
            CAST(GETDATE() AS DATE),  
            GETDATE(),  
            1  
        );  
    END  
END  
  
  
END      
      
      
--ALTER TABLE FuelPumpStatusMaster      
--ADD FpGradeOptionNo INT NULL;      
      
      
      
      
      
      
      
--select * from FuelPumpStatusMaster      
GO
