USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetFpLatestStatus]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Sp_GetFpLatestStatus]      
      
as       
begin      
select       
FPSM.FpId,      
FPSM.Nozzle,      
FPSM.Vol,      
FPSM.Money,      
FPSM.Status,      
FPSM.attendantId,      
AM.LimiLeftCount as Count,      
FPSM.FpGradeOptionNo,    
FPSM.unit_price  AS UnitPrice ,--ISNULL(FPSM.unit_price, 0.00) AS UnitPrice ,
 FPSM.IsOnline
 from FuelPumpStatusMaster FPSM      
left join AttendantMaster AM on FPSM.FpId=AM.FpId       
end 
GO
