USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddPumpTransaction]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddPumpTransaction]
(
    @TransactionId NVARCHAR(50),
    @PumpId INT,
    @NozzleId INT,
    @Attendant NVARCHAR(100),
    @ProductId NVARCHAR(50),
    @Quantity DECIMAL(18,2),
    @UnitPrice DECIMAL(18,2),
    @Total DECIMAL(18,2),
    @State NVARCHAR(50),
    @StartTime DATETIME,
    @EndTime DATETIME,
    @OrderUuid NVARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO PumpTransactions
    (
        TransactionId,
        PumpId,
        NozzleId,
        Attendant,
        ProductId,
        Quantity,
        UnitPrice,
        Total,
        State,
        StartTime,
        EndTime,
        OrderUuid
    )
    VALUES
    (
        @TransactionId,
        @PumpId,
        @NozzleId,
        @Attendant,
        @ProductId,
        @Quantity,
        @UnitPrice,
        @Total,
        @State,
        @StartTime,
        @EndTime,
        @OrderUuid
    );
END
GO
