USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTxnTime_ByTransSeqNo]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTxnTime_ByTransSeqNo]
    @TransSeqNo VARCHAR(20)
AS
BEGIN
    SELECT StartTime, EndTime
    FROM PumpTxnTracker
    WHERE TransSeqNo = @TransSeqNo;
END
GO
