USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePumpTransactions]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePumpTransactions]
(
    @TransactionId NVARCHAR(50),
    @UpdateFields NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        DECLARE @sql NVARCHAR(MAX) = N'UPDATE PumpTransactions SET ';
        DECLARE @set NVARCHAR(MAX) = N'';

        -- Build dynamic SET clause from JSON
        SELECT @set = STRING_AGG(
            QUOTENAME([key]) + ' = ' +
            CASE
                WHEN ISNUMERIC([value]) = 1 THEN [value]
                ELSE '''' + REPLACE([value], '''', '''''') + ''''
            END
        , ', ')
        FROM OPENJSON(@UpdateFields);

        SET @sql += @set + ' WHERE TransactionId = @TransactionId';

        EXEC sp_executesql
            @sql,
            N'@TransactionId NVARCHAR(50)',
            @TransactionId;

        IF @@ROWCOUNT > 0
        BEGIN
            DECLARE @Attendant NVARCHAR(100);

            SELECT @Attendant = Attendant
            FROM PumpTransactions
            WHERE TransactionId = @TransactionId;

            IF @Attendant IS NOT NULL
            BEGIN
                UPDATE AttendantMaster
                SET LimiLeftCount =
                    CASE
                        WHEN LimiLeftCount - 1 < 0 THEN 0
                        ELSE LimiLeftCount - 1
                    END
                WHERE FpId IN
                (
                    SELECT PumpId
                    FROM PumpTransactions
                    WHERE TransactionId = @TransactionId
                      AND OdooOrderId IS NOT NULL
                );
            END

            COMMIT TRAN;
            RETURN 1;
        END

        ROLLBACK TRAN;
        RETURN 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
