USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateFpLimitReset]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Sp_UpdateFpLimitReset]
(
@FpId int 
)
as
begin 

update AttendantMaster Set LimiLeftCount=0 where FpId=@FpId
end
GO
