USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePumpTransaction]    Script Date: 27/02/2026 16:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePumpTransaction]
    @TransactionId NVARCHAR(100),
    @SetClause NVARCHAR(MAX)  -- This will receive the dynamic "col = @col" list
AS
BEGIN
    SET NOCOUNT ON;

    -- Build final dynamic SQL
    DECLARE @sql NVARCHAR(MAX);

    SET @sql = '
        UPDATE PumpTransactions
        SET ' + @SetClause + '
        WHERE TransactionId = @TransactionId;
    ';

    -- Execute with parameters
    EXEC sp_executesql 
        @sql,
        N'@TransactionId NVARCHAR(100)',
        @TransactionId = @TransactionId;
END
GO
