USE [pumaenergy]
GO
/****** Object:  UserDefinedTableType [dbo].[Tvp_FpAvailableSms]    Script Date: 27/02/2026 16:30:16 ******/
CREATE TYPE [dbo].[Tvp_FpAvailableSms] AS TABLE(
	[SmsId] [nvarchar](10) NULL,
	[SmId] [nvarchar](10) NULL
)
GO
