USE [pumaenergy]
GO
/****** Object:  UserDefinedTableType [dbo].[Tvp_FpNozzleId]    Script Date: 27/02/2026 16:30:16 ******/
CREATE TYPE [dbo].[Tvp_FpNozzleId] AS TABLE(
	[NozzleId] [nvarchar](10) NULL,
	[AsciiCode] [nvarchar](10) NULL,
	[AsciiChar] [nvarchar](5) NULL
)
GO
