USE [pumaenergy]
GO
/****** Object:  UserDefinedTableType [dbo].[Tvp_FpAvailableGrades]    Script Date: 27/02/2026 16:30:16 ******/
CREATE TYPE [dbo].[Tvp_FpAvailableGrades] AS TABLE(
	[Count] [nvarchar](10) NULL,
	[GradeId] [nvarchar](10) NULL
)
GO
