USE [pumaenergy]
GO
/****** Object:  UserDefinedTableType [dbo].[Tvp_TransInSupBuffer]    Script Date: 27/02/2026 16:30:16 ******/
CREATE TYPE [dbo].[Tvp_TransInSupBuffer] AS TABLE(
	[TransSeqNo] [nvarchar](50) NULL,
	[SmId] [nvarchar](20) NULL,
	[TransLockId] [nvarchar](20) NULL,
	[TransInfoMaskValue] [nvarchar](50) NULL,
	[TransInfoMaskBits] [nvarchar](max) NULL,
	[MoneyDue] [decimal](18, 2) NULL,
	[Vol] [decimal](18, 3) NULL,
	[FcGradeId] [nvarchar](10) NULL,
	[UnitPrice] [decimal](18, 3) NULL
)
GO
