USE [pumaenergy]
GO
/****** Object:  UserDefinedTableType [dbo].[Tvp_FpMinPresetValues]    Script Date: 27/02/2026 16:30:16 ******/
CREATE TYPE [dbo].[Tvp_FpMinPresetValues] AS TABLE(
	[FcGradeId] [nvarchar](10) NULL,
	[MinMoneyPreset_e] [nvarchar](50) NULL,
	[MinVolPreset_e] [nvarchar](50) NULL
)
GO
