USE [pumaenergy]
GO
/****** Object:  UserDefinedTableType [dbo].[Tvp_GradePrice]    Script Date: 27/02/2026 16:30:16 ******/
CREATE TYPE [dbo].[Tvp_GradePrice] AS TABLE(
	[Grade] [int] NULL,
	[Price] [int] NULL
)
GO
