USE [pumaenergy]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[ReferenceId] [varchar](50) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[LogLevel] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
