USE [pumaenergy]
GO
/****** Object:  Table [dbo].[AttendantMaster]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendantMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MPITagId] [varchar](50) NULL,
	[MaxLimitCount] [int] NULL,
	[LimiLeftCount] [int] NULL,
	[LastUpdatedDate] [datetime] NULL,
	[unit_price] [decimal](10, 2) NULL,
	[FpId] [int] NULL,
	[ExtraLimits] [int] NULL,
	[IsAllowed] [bit] NULL,
 CONSTRAINT [PK_AttendantMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AttendantMaster_FpId] UNIQUE NONCLUSTERED 
(
	[FpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttendantMaster] ADD  DEFAULT ((0.00)) FOR [unit_price]
GO
ALTER TABLE [dbo].[AttendantMaster] ADD  DEFAULT ((0)) FOR [ExtraLimits]
GO
ALTER TABLE [dbo].[AttendantMaster] ADD  DEFAULT ((0)) FOR [IsAllowed]
GO
