USE [pumaenergy]
GO
/****** Object:  Table [dbo].[FpNozzleId]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FpNozzleId](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FpStatusCallId] [int] NOT NULL,
	[NozzleId] [nvarchar](10) NULL,
	[AsciiCode] [nvarchar](10) NULL,
	[AsciiChar] [nvarchar](5) NULL
) ON [PRIMARY]
GO
