USE [pumaenergy]
GO
/****** Object:  Table [dbo].[PumpStatus]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PumpStatus](
	[TableIndexId] [int] IDENTITY(1,1) NOT NULL,
	[PumpId] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[GradeId] [nvarchar](50) NULL,
	[LastUpdated] [datetime] NULL,
	[TransactionId] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TableIndexId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PumpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PumpStatus] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
