USE [pumaenergy]
GO
/****** Object:  Table [dbo].[test]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[name] [varchar](50) NULL
) ON [PRIMARY]
GO
