USE [pumaenergy]
GO
/****** Object:  Table [dbo].[PumpBlockUnblockHistory]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PumpBlockUnblockHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FpId] [int] NOT NULL,
	[ActionType] [varchar](20) NOT NULL,
	[Source] [varchar](50) NOT NULL,
	[Note] [varchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PumpBlockUnblockHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
