USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[GetOfflineTransactions]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOfflineTransactions]
AS
BEGIN
    SELECT *
    FROM PumpTransactions
    WHERE SyncStatus = 0;
END
GO
