USE [pumaenergy]
GO
/****** Object:  Table [dbo].[TransInSupBuffer]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransInSupBuffer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FpSupTransBufStatusCallId] [int] NOT NULL,
	[TransSeqNo] [nvarchar](50) NULL,
	[SmId] [nvarchar](20) NULL,
	[TransLockId] [nvarchar](20) NULL,
	[TransInfoMaskValue] [nvarchar](50) NULL,
	[TransInfoMaskBits] [nvarchar](max) NULL,
	[MoneyDue] [nvarchar](50) NULL,
	[Vol] [nvarchar](50) NULL,
	[FcGradeId] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NULL,
	[UnitPrice] [decimal](18, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TransInSupBuffer] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TransInSupBuffer] ADD  CONSTRAINT [DF_TransInSupBuffer_UnitPrice]  DEFAULT ((30.00)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[TransInSupBuffer]  WITH CHECK ADD FOREIGN KEY([FpSupTransBufStatusCallId])
REFERENCES [dbo].[FpSupTransBufStatusCall] ([Id])
GO
