USE [pumaenergy]
GO
/****** Object:  Table [dbo].[FpMinPresetValues]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FpMinPresetValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FpStatusCallId] [int] NOT NULL,
	[FcGradeId] [nvarchar](10) NULL,
	[MinMoneyPreset_e] [nvarchar](50) NULL,
	[MinVolPreset_e] [nvarchar](50) NULL
) ON [PRIMARY]
GO
