USE [pumaenergy]
GO
/****** Object:  Table [dbo].[AttendantMaster_bk]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendantMaster_bk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MPITagId] [varchar](50) NULL,
	[MaxLimitCount] [int] NULL,
	[LimiLeftCount] [int] NULL,
	[LastUpdatedDate] [datetime] NULL,
	[unit_price] [decimal](10, 2) NULL,
	[FpId] [int] NULL,
	[ExtraLimits] [int] NULL,
	[IsAllowed] [bit] NULL
) ON [PRIMARY]
GO
