USE [pumaenergy]
GO
/****** Object:  Table [dbo].[FpSupTransBufStatusCall]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FpSupTransBufStatusCall](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [varchar](50) NULL,
	[EventDetailId] [int] NULL,
	[Port] [nvarchar](100) NULL,
	[ExtCode] [nvarchar](10) NULL,
	[SubCode] [nvarchar](10) NULL,
	[FpId] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FpSupTransBufStatusCall] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
