USE [pumaenergy]
GO
/****** Object:  Table [dbo].[EventDetails]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [varchar](50) NOT NULL,
	[EventName] [nvarchar](100) NOT NULL,
	[Port] [nvarchar](50) NULL,
	[ExtCode] [nvarchar](10) NULL,
	[SubCode] [nvarchar](10) NULL,
	[FpId] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[OdooAckId] [varchar](100) NULL,
	[ReferenceId] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventDetails] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
