USE [pumaenergy]
GO
/****** Object:  Table [dbo].[FpAvailableGrades]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FpAvailableGrades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FpStatusCallId] [int] NOT NULL,
	[Count] [nvarchar](10) NULL,
	[GradeId] [nvarchar](10) NULL
) ON [PRIMARY]
GO
