USE [pumaenergy]
GO
/****** Object:  Table [dbo].[PumpTransactions11212025]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PumpTransactions11212025](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [nvarchar](50) NOT NULL,
	[PumpId] [int] NULL,
	[NozzleId] [int] NULL,
	[Attendant] [nvarchar](100) NULL,
	[ProductId] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[State] [nvarchar](50) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[OrderUuid] [nvarchar](50) NULL,
	[SyncStatus] [bit] NULL,
	[OdooOrderId] [int] NULL
) ON [PRIMARY]
GO
