USE [pumaenergy]
GO
/****** Object:  Table [dbo].[PumpTransactions]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PumpTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [nvarchar](50) NOT NULL,
	[PumpId] [int] NULL,
	[NozzleId] [int] NULL,
	[Attendant] [nvarchar](100) NULL,
	[ProductId] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[UnitPrice] [nvarchar](10) NULL,
	[Total] [decimal](18, 1) NULL,
	[State] [nvarchar](50) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[OrderUuid] [nvarchar](50) NULL,
	[SyncStatus] [bit] NULL,
	[OdooOrderId] [nvarchar](50) NULL,
	[TransSueNo] [int] NULL,
	[AddToCart] [bit] NOT NULL,
	[Payment_Id] [nvarchar](max) NULL,
	[IsUnreconciled] [bit] NOT NULL,
	[isdiscard] [bit] NULL,
	[TransactionUniqueKey] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PumpTransactions] ADD  DEFAULT ((0)) FOR [AddToCart]
GO
ALTER TABLE [dbo].[PumpTransactions] ADD  DEFAULT ((0)) FOR [IsUnreconciled]
GO
