USE [pumaenergy]
GO
/****** Object:  Table [dbo].[bak_PumpTxnTracker16022026]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bak_PumpTxnTracker16022026](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FpId] [int] NULL,
	[NozzleId] [int] NULL,
	[TxnDate] [date] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[TransSeqNo] [int] NULL,
	[IsOpen] [bit] NULL
) ON [PRIMARY]
GO
