USE [pumaenergy]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [varchar](50) NOT NULL,
	[HexMessage] [nvarchar](max) NOT NULL,
	[ParsedJson] [nvarchar](max) NOT NULL,
	[IsSynced] [bit] NOT NULL,
	[RetryCount] [int] NOT NULL,
	[LastAttempt] [datetime] NULL,
	[OdooAckId] [varchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[ReferenceId] [varchar](50) NULL,
	[Port] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [IsSynced]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
