USE [pumaenergy]
GO
/****** Object:  Table [dbo].[FpStatusCall]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FpStatusCall](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [varchar](50) NOT NULL,
	[Port] [nvarchar](50) NULL,
	[ExtCode] [nvarchar](10) NULL,
	[SubCode] [nvarchar](10) NULL,
	[FpId] [nvarchar](10) NOT NULL,
	[SmId] [nvarchar](10) NULL,
	[FpMainStateValue] [nvarchar](10) NULL,
	[FpMainStateName] [nvarchar](100) NULL,
	[FpSubStates] [nvarchar](10) NULL,
	[FpLockId] [nvarchar](10) NULL,
	[FcGradeId] [nvarchar](10) NULL,
	[FpSubStates2] [nvarchar](10) NULL,
	[FpGradeOptionNo] [nvarchar](10) NULL,
	[FuellingDataVol_e] [nvarchar](50) NULL,
	[FuellingDataMon_e] [nvarchar](50) NULL,
	[AttendantAccountId] [nvarchar](50) NULL,
	[FpBlockingStatus] [nvarchar](10) NULL,
	[FpOperationModeNo] [nvarchar](10) NULL,
	[PgId] [nvarchar](10) NULL,
	[NozzleTagReaderId] [nvarchar](10) NULL,
	[FpSubStates3] [nvarchar](10) NULL,
	[FpAlarmStatus] [nvarchar](10) NULL,
	[FpSubStates4] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[OdooAckId] [varchar](100) NULL,
	[ReferenceId] [varchar](50) NULL,
	[EventDetailId] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FpStatusCall] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
