USE [pumaenergy]
GO
/****** Object:  Table [dbo].[FuelPumpStatusMaster]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelPumpStatusMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FpId] [int] NULL,
	[Nozzle] [int] NULL,
	[Vol] [decimal](10, 2) NULL,
	[Money] [decimal](18, 0) NULL,
	[Status] [nvarchar](100) NULL,
	[attendantId] [varchar](255) NULL,
	[LastModifiedDate] [datetime] NULL,
	[FpGradeOptionNo] [int] NULL,
	[unit_price] [decimal](10, 2) NULL,
	[IsOnline] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FuelPumpStatusMaster] ADD  DEFAULT ((0.00)) FOR [unit_price]
GO
ALTER TABLE [dbo].[FuelPumpStatusMaster] ADD  DEFAULT ((0)) FOR [IsOnline]
GO
