USE [pumaenergy]
GO
/****** Object:  StoredProcedure [dbo].[GetAttendantMaster]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAttendantMaster]
as
begin

select * from AttendantMaster
end
GO
