USE [pumaenergy]
GO
/****** Object:  Table [dbo].[Records]    Script Date: 27/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Records](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceId] [nvarchar](50) NOT NULL,
	[Data] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
